/* Eric Anderson */
/* TGIS 503 */
/* Lab 3 */
/* style.css */

/* Selectors are in alphabetical order */4

   .active:hover {
     background-color: #666;
   }

  #b-wrapper {
    background: white;
    border: ridge;
    border-color: gray;
    border-width: 2px;
    margin: auto;
    padding: 10px;
    width:88%;
  }

  body {
    background-color: #7BBDBF;
    font-family: "Palatino Linotype", sans-serif;
    margin: auto;
    max-width: 950px;
  }

  .collapsible {
  background-color: #777;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  border: solid;
  border-width: 3px;
  font-size: 15px;
}

  .collapsible:hover {
    background-color: #666;
  }

  .content {
  width: 90%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: #F1f1f1;
}

  h1 {
    background-color:#7BCFEF;
    color: #3D0D70;
    font-size:200%;
    text-align:center;
  }

  h3 {
    color: white;
  }

  #legend {
    background: white;
    background-color: #F5FFC1;
    border: solid;
    border-width: 4px;
    line-height: 0px;
    opacity: 0.92;
    padding:5px 25px 5px 0px;
  }

  #map1 {
    border: ridge;
    border-color: white;
    border-width: 4px;
    margin:auto;
    padding: 10px;
    width: 85%;
  }

  #map2 {
    border: ridge;
    border-color: white;
    border-width: 4px;
    margin:auto;
    padding: 10px;
    width: 85%;
  }

  p {
    margin: auto;
    max-width: 820px;
  }

  text {
    color: white;
  }
